{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %} Perfumeria! <br><br>- NATURA- </br></br> {% endblock %}

{% block contenido_que_cambia %}
   <h1><u>Perfumes en stock:</u></h1>
    <br></br>
   <table>
       <thead>
           <tr>
               <th>Código</th>
               <th>Nombre</th>
               <th>Sexo</th>
               <th>Precio</th>
           </tr>
       </thead>
       <tbody>
           {% for perfume in perfumes %}
           <tr>
               <td>{{ perfume.Codigo }}</td>
               <td>{{ perfume.Nombre }}</td>
               <td>{{ perfume.Sexo }}</td>
               <td>{{ perfume.Precio }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
{% endblock %}

