{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %} Perfumeria! <br><br>- NATURA- </br></br> {% endblock %}

{% block contenido_que_cambia %}
<h4>Formulario Perfumeria</h4>
<br></br>

<form action = '{% url 'perfumeria' %}' method="POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>
    <br></br>
    <input type="submit" value="GUARDAR PERFUME">

</form>

<table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for perfumeria in perfumeria %}
      <tr>
        <td>{{ perfumeria.Codigo }}</td>
        <td>{{ perfumeria.Nombre }}</td>
        <td>{{ perfumeria.Sexo }}</td>
        <td>{{ perfumeria.Precio }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  


<h3>{{ mensaje }}</h3>
{% endblock %}


